body {
    background-color: #D8B4E2;
}

h1,
h2,
p {
    font-family: "DM Sans", serif;
    font-optical-sizing: auto;
}



.container {
    color: #210B2C;
    width: 500px;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-radius: 25px;
    box-shadow: 12px 12px 2px 1px #AE759F;
    margin-top: 10rem;
    line-height: 2rem;
    background-color: rgba(255, 255, 255, 0.807);
}

.container-guess {
    background-color: rgba(255, 255, 255, 0.807);
    margin: 0 auto;
    width: 600px;
    color: #210B2C;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-radius: 25px;
    box-shadow: 12px 12px 2px 1px #AE759F;
    margin-top: 5rem;
    line-height: 2rem;
    background-color: rgba(255, 255, 255, 0.807);
}


.result {
    font-size: large;
}


/* learned !important from i360 */
.btn-primary {
    background-color: #8064A2 !important;
    border: #210B2C 3px solid !important;
}

.btn-primary:hover {
    background-color: black !important;
}

*:disabled {
    background-color: lightgray;
    color: #333333;
    opacity: 0.8;
    pointer-events: none;
}