body {
    min-height: 100vh;
    display: grid;
    align-items: center;
    justify-items: center;
    /* https://www.svgbackgrounds.com/set/free-svg-backgrounds-and-patterns/ */
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23222' stroke-width='10' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
  }
.controls {
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 2rem;
}
label {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 16px;
    padding-right: 0.5rem;
}
.buttons {
    text-align: center;
}
button {
    padding: 0.25rem 0.5rem;
    background-color: white;
    border-radius: 0.25rem;
    font-size: 18px;
}
button:hover {
    background-color: goldenrod;
}
.active {
    background-color: gold;
}

canvas {
    border: 10px solid gold;
    border-radius: 20px;
    /* Set the width and height to half the actual size so it doesn't look pixelated */
    width: 1250px;
    height: 750px;
    background: gainsboro;
}
canvas.shake {
    animation: shake 0.5s linear 1;
}

@keyframes shake {

    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}
